@model Sivam.web.Data.tblVideo
@{
    ViewBag.Title = "AddVideoUrl";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .input-check__input{
        margin-top:6px !important;
    }
</style>
@*<script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>*@
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Videos
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Admin/Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Videos</li>
        <li class="active">Add</li>
    </ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
    <!-- Horizontal Form -->
    <div class="col-sm-offset-2 col-sm-8">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Add Video URL</h3>
            </div>

            <div id="divMsg" class="col-md-12">
                @if (Request.QueryString["msg"] != null && Request.QueryString["msg"]?.ToString() != "")
                {
                    <div class="alert @(Request.QueryString["msg"].Contains("!")?"alert-danger":"alert-success")">
                        @if (Request.QueryString["msg"] == "insert")
                        {
                            <span>Banner saved successfully.</span>
                        }
                        else if (Request.QueryString["msg"] == "update")
                        {
                            <span>Banner has been updated successfully.</span>
                        }
                        else
                        {
                            <span>Failed: Something went wrong.</span>
                        }
                    </div>
                }
            </div>

            <!-- form start -->
            <form class="form-horizontal" method="post" name="frmVideos" id="frmVideos" action="/Admin/AddVideoUrl">

                <div class="box-body">
                    @Html.HiddenFor(m => m.RecId)
                    <input type="hidden" value="" id="RecId" name="RecId">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Enter Title", name = "Title" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Youtube URL</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.VideoUrl, new { @class = "form-control", placeholder = "Enter URL", name = "VideoUrl" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.Description, new { @class = "form-control", placeholder = "Enter Description", name = "Description" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Is Active</label>
                        <div class="col-sm-10">
                            <span class="input-check form-check-input">
                                <span class="input-check__body">
                                    @Html.CheckBoxFor(m => m.IsActive, new { @class = "input-check__input",name = "IsActive" })
                                    <span class="input-check__box"></span>
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                @if (Request.QueryString["id"] != null)
                {
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success pull-right" id="btnAddOffer">Update</button>
                    </div>
                }
                else
                {
                    <div class="box-footer">
                        <button type="reset" class="btn btn-default" id="btnReset">
                            Reset
                        </button>
                        <button type="submit" class="btn btn-info pull-right" id="btnAddOffer">Add</button>
                    </div>
                }

                <!-- /.box-footer -->
            </form>
        </div>
    </div>
    <!-- /.box -->
</section>

